.header__lang-link{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.11;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    padding:0 0 0 1.125em;
    opacity: 1;
    transition: opacity 0.5s ease;
}
.header__lang-link:hover{
     opacity:0.8;
}

@media screen and (min-width: 425px) {
    .header__lang-link{
        font-size: 1.5rem;
        line-height: 1.17;
    } 
}