.header__lang-link{
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 1.125rem;
    line-height: 1.11;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    padding:0 0 0 1.125em;
}
.header__lang-link:first-child{
        text-decoration: underline;
}
@media screen and (min-width: 320px) {
    .header__lang-link{
        font-size: 1.125rem;
        line-height: 1.11;
}
}
@media screen and (min-width: 425px) {
    .header__lang-link{
        font-size: 1.5rem;
        line-height: 1.17;
} 
}