.place__title{
    font-family: 'Inter', 'Arial', sans-serif; 
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 1.09;
    color: #FFFFFF;
    align-self: flex-start;
    border:solid 3px red;
}