.places{
    display: flex;
    flex-direction: column;
    max-width:100%;
    padding-top:4rem;
}
@media screen and (min-width: 768px) {
    .places{
    padding-top: 5.5rem;
    }
}
@media screen and (min-width: 1024px) {
    .places{
    padding-top: 5.75rem;
    }
}