.header__links{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    box-sizing: border-box;
    margin:0;
    align-self: flex-start;    
}
@media screen and (min-width: 320px) {
    .header__links{
        padding: 30px 16px 0 0; 
}
}
@media screen and (min-width: 465px) {
    .header__links{
        padding: 40px 16px 0 0; 
}
}
@media screen and (min-width: 768px) {
    .header__links{
        padding: 46px 24px 0 0;
}
} 
@media screen and (min-width: 1024px) {
    .header__links{
        padding:46px 48px 0 0; 
}
}