.lead{
    display: flex;
    flex-direction: column;
    border: solid 3px red;
    max-width: 100%;
    padding-top:48px;
}
@media screen and (min-width: 1280px) {
    .lead {
        padding-top:56px;
    }
}

