.cover__subtitle{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.14;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    z-index: 1;
    padding: 1rem 0 0 0;
    max-width: 288px;
}

@media screen and (min-width: 465px) {
    .cover__subtitle{
     max-width: 360px;
    }
}
@media screen and (min-width: 768px) {
    .cover__subtitle{
     font-size: 1.125rem;
     line-height: 1.22;
     padding-top:2rem;
    }
}