.header__logo{
    max-width: 100%;
    height: auto;
    box-sizing: border-box;
    object-fit: contain;
    margin:0;
 }
@media screen and (min-width: 320px) {
    .header__logo{
        max-width: 142px;
        margin: 16px 0 0 16px;
}
}
@media screen and (min-width: 425px) {
    .header__logo{
        max-width: 176px;
        margin: 24px 0 0 24px;
} 
}
@media screen and (min-width: 768px) {
    .header__logo{
        margin: 28px 0 0 24px;
}
}
@media screen and (min-width: 1280x) {
    .header__logo{
        margin: 28px 0 0 48px;
}
}