.header{
    max-width: 1184px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}
@media screen and (min-width: 320px) {
    .header{
        padding: 1rem 1rem 0 1rem;
}
}
@media screen and (min-width: 425px) {
    .header{
        padding: 1rem 1.5rem 0 1.5rem;
} 
}
@media screen and (min-width: 768px) {
    .header{
        padding: 1.75rem 1.5rem 0 1.5rem;
}
}
@media screen and (min-width: 1280px) {
    .header{
        padding: 1.75rem 3rem 0 3rem;
}
}
