.footer__link{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1;
    opacity: 1;
    transition: opacity 0.5s ease;
    align-self: flex-start;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
}
.footer__link:hover{
        opacity:0.8;
}

@media screen and (min-width: 320px) {
    .footer__link {
        font-size: 1.5rem;
        line-height: 1;
    }
}
@media screen and (min-width: 768px) {
    .footer__link {
        font-size: 1rem;
        line-height: 1.12;
    }
}