.intro__container{
    box-sizing: border-box;
}

@media screen and (min-width: 320px) {
    .intro__container{
    margin: 0 16px;
}
}
@media screen and (min-width: 320px) {
    .intro__container{
    margin: 0 16px;
}
}
@media screen and (min-width: 768px) {
    .intro__container{
    margin: 0 24px;
}
}
@media screen and (min-width: 1024px) {
    .intro__container{
    margin-left:48px;
    max-width: 690px;
}
}
@media screen and (min-width: 1280px) {
    .intro__container{
    margin-left:148px;
}
}