.place__text-container{
    grid-area: place__text-container;
    justify-self: flex-start;
    max-width: 484px;
    height: auto;
}
@media screen and (min-width: 320px) {
    .place__text-container {
        padding:0 1rem 0 1rem;
        
    }
}
@media screen and (min-width: 465px) {
    .place__text-container {
        padding:0 1rem 0 1rem;
        margin:0 auto;
    }
}
@media screen and (min-width: 768px) {
    .place__text-container {
        padding:0;
        margin:0 auto;
    }
}