.footer__links{
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 2rem;
    
}

@media screen and (min-width: 768px) {
    .footer__links {
        flex-direction: row;
        gap: 1.125rem;
    }
}
