.footer__links{
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    box-sizing: border-box;
}


@media screen and (min-width: 320px) {
    .footer__links {
        flex-direction: column;
    }
}

@media screen and (min-width: 768px) {
    .footer__links {
        flex-direction: row;
    }
}
