.cover{
    background-image: url(../../images/cover-trains.jpg);
    display: flex;
    flex-direction: column;
    align-content: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-width: 100%;
    min-height: 200px;
    margin: 4.125rem auto 0;
}

@media screen and (min-width: 465px) {
    .cover{
     min-height: 300px;
    }
}
@media screen and (min-width: 768px) {
    .cover{
     min-height: 480px;
     margin-top: 5.625rem;
    }
}
@media screen and (min-width: 1024px) {
    .cover{
     min-height: 640px;
     margin-top: 5.75rem;
    }
}
@media screen and (min-width: 1280px) {
    .cover{
     min-height: 740px;
     max-width: 1184px;
    }
}

