.place__link{
    font-family: 'Inter', 'Arial', sans-serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-decoration-line: underline;
    color: #FFFFFF;
    border: solid 3px red;
    align-self: flex-start;
    padding-top: 12px;
    transition: opacity 0.5s ease;
}
.place__link:hover{
    opacity: 0.8; /*ссылка меняет прозрачность при наведении*/
}