.cover__title{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.09;
    text-align: center;
    color: #FFFFFF;
    box-sizing: border-box;
    max-width: 80%;
    margin: 0 auto;
    z-index: 1;
}

@media screen and (min-width: 768px) {
    .cover__title{
        font-size: 4.5rem;
        line-height: 1.06;
        max-width: 560px;
    }
}
