.place{
    display: grid;
    box-sizing: border-box;
    justify-content: start;
    align-content: start;
    align-items: start;
    justify-items: start;
    max-width: 100%;
}
.place:first-child{
     margin-top:0;
}

@media screen and (min-width: 320px) {
    .place {
        grid-template-columns: repeat(1, minmax(min-content, max-content));
        grid-template-areas:
        "place__title"
        "place__website"
        "place__image"
        "place__text-container";
        margin: 3.125rem auto 0;
        grid-gap: 2rem;
    }
  }
  
@media screen and (min-width: 768px) {
   .place {
       grid-template-columns: repeat(2, minmax(min-content, max-content));
       grid-template-areas:
       "place__title place__website"
       "place__image place__text-container";
        margin-top: 4.5625rem;
        row-gap: 3rem;
        column-gap: 1.75rem;
        max-width: 93.75%;
    }
  }

 @media screen and (min-width: 1024px) {
   .place {
       margin-top: 5rem;
       column-gap: 2rem;
       max-width: 90.625%;
    }
  }
  @media screen and (min-width: 1280px) {
    .place {
       column-gap: 2.5rem;
       max-width: 984px;
    }
  }