.intro__title{
    font-family: 'Inter', 'Arial', sans-serif; 
    font-style: normal;
    font-weight: 900;
    font-size: 2rem;
    line-height: 1.09;
    color: #FFFFFF;
    align-self: center;
    text-align:left;
    margin:0;
    padding-top: 4rem;
}    
@media screen and (min-width: 768px) {
    .intro__title{
        font-size: 3.375rem;
        line-height: 1.07;
        padding-top: 5.5rem;
}
}
@media screen and (min-width: 1024px) {
    .intro__title{
        padding-top: 5.75rem;
}
}